<mat-card>
  <form
    #clienteForm="ngForm"
    (submit)="onAdicionarCliente(clienteForm)">
    <mat-form-field>
      <input
        type="text"
        matInput
        placeholder="Nome"
        name="nome"
        ngModel
        required minlength="4">
        <mat-error>Digite um nome válido</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
        type="text"
        matInput
        placeholder="Fone"
        name="fone"
        ngModel
        required>
        <mat-error>Digite um telefone válido</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
        type="text"
        matInput
        placeholder="E-mail"
        name="email"
        ngModel
        required email>
        <mat-error>Digite um e-mail válido</mat-error>
    </mat-form-field>

    <button color="primary" mat-raised-button>Inserir cliente</button>
  </form>
</mat-card>


