<mat-card>
  <form
    #clienteForm="ngForm"
    (submit)="onSalvarCliente(clienteForm)">
    <mat-form-field>
      <input
        type="text"
        matInput
        placeholder="Nome"
        name="nome"
        [ngModel]="cliente?.nome"
        required minlength="4">
        <mat-error>Digite um nome válido</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
        type="text"
        matInput
        placeholder="Fone"
        name="fone"
        [ngModel]="cliente?.fone"
        required>
        <mat-error>Digite um telefone válido</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
        type="text"
        matInput
        placeholder="E-mail"
        name="email"
        [ngModel]="cliente?.email"
        required email>
        <mat-error>Digite um e-mail válido</mat-error>
    </mat-form-field>

    <button color="accent" mat-raised-button>Salvar cliente</button>
  </form>
</mat-card>


